
.annonse {
    background-color: yellow;
}

body {
    padding-top: 50px;
}

.myheader {
    padding: 40px 15px;
    text-align: center;
}


img {
    max-width: 50%;
}


.top7 { margin-top:7px; }

.row { margin-top:7px; }

.goright {
    text-align:right;
}

.mykarusell {
/*    border: 1px solid blue; */
  padding-bottom: 1em;
}

div.ingress {
    font-size: 140%;
    color: #072570;
}

.muchbigger {
    font-size: 3000%;
}

div.mymax {
    text-align: center;
    max-width: 800px;
}