
.annonse {
    background-color: yellow;
}

body {
    padding-top: 50px;
}

.myheader {
    padding: 40px 15px;
    text-align: center;
}


img {
    max-width: 50%;
}


.top7 { margin-top:7px; }

.row { margin-top:7px; }

.goright {
    text-align:right;
}

