
body {
//    padding-top: 50px;
//    font-size: 150%;
}


.top7 { margin-top:7px; }

.row { margin-top:7px; }

.mykarusell {
  padding-bottom: 1em;
  text-align: center;
}

div.ingress {
    font-size: 140%;
    color: #072570;
}

.muchbigger {
    font-size: 2000%;
}

div.mymax {
    float: none;
    margin: 0 auto;
//    text-align: center;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}